.epiItem {
    display: flex;
    flex-wrap: nowrap;
    min-height: 80px;
    border: 1px solid rgba(124, 130, 130, 1);
    border-bottom: none;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
}

.epiItem:last-child {
    border: 1px solid rgba(124, 130, 130, 1);
}

.epiText {
    max-width: 70%;
    font-size: 16px;
    text-align: justify;
}

.investigateBtn {
    background-color: #2a6f97;
    border-radius: 28px;
    border: 1px solid #335a78;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-weight: bolder;
    font-size: 17px;
    padding: 16px 25px;
    text-decoration: none;
}

.investigateBtn:hover {
    background-color: #3a81ab;
}

.investigateBtn:active {
    position: relative;
    top: 1px;
}

@media (max-width: 500px) {
    .epiText {
        max-width: 100%;
        width: 100%;
    }

    .epiItem {
        flex-direction: column;
    }

    .investigateBtn {
        margin-top: 10px;
        padding: 12px 10px;
    }
}