.contentContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-around;
}

.epi {
    width: 800px;
}

.chain {
    width: 400px;
}

.item {
    min-height: 800px;
    box-shadow: 0 16px 48px #E7EBF6;
    background: #fff;
}

